<div class="container">
  
  <div class="row">
    
    <div class="col-md-10 col-md-offset-1">
      
      <h2>〜さんの会員情報編集</h2>
    </div>

    <div class="col-md-10 col-md-offset-1">
      
      <h2></h2>
    </div>

    <div class="col-md-10 col-md-offset-1">
      	<table>

      		<thead>
      			<tr>
      			<!-- １行目 -->
      				<th>会員ID</th>
      				<th>1</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      			<!-- 2 -->
      				<th>氏名</th>
      				<th>入力フォーム</th>
      				<th>入力フォーム</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      			<!-- 3 -->
      				<th>フリガナ</th>
      				<th>入力フォーム</th>
      				<th>入力フォーム</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>郵便番号</th>
      				<th>入力フォーム</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>住所</th>
      				<th>入力フォーム</th>
      			</tr>

      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>電話番号</th>
      				<th>03689763441</th>
      			</tr>

      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>メールアドレス</th>
      				<th>入力フォーム</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>会員ステータス</th>
      				<th>ラジオボタン表示</th>
      			</tr>

      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th><%= link_to "変更を保存する", class: "btn btn-primary" %></th>
      			</tr>
      		</thead>

      	</table>
    </div>
    <!-- col-md-6 -->
  </div>
  <!-- row -->
</div>
<!-- container -->
