<div class="container">
  
  <div class="row">
    
    <div class="col-md-10 col-md-offset-1">
      
      <h2>〜さんの会員情報編集</h2>
    </div>

    <div class="col-md-10 col-md-offset-1">
      
      <h2></h2>
    </div>

    <div class="col-md-10 col-md-offset-1">
      	<table>

      		<thead>
      			<tr>
      			<!-- １行目 -->
      				<th>顧客ID</th>
      				<th>有効会員か</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      			<!-- 2 -->
      				<th>氏名</th>
      				<th>山田 花子</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      			<!-- 3 -->
      				<th>フリガナ</th>
      				<th>ヤマダ ハナコ</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>郵便番号</th>
      				<th>150041</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>住所</th>
      				<th>東京都〜〜〜〜〜〜〜〜</th>
      			</tr>

      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>電話番号</th>
      				<th>03689763441</th>
      			</tr>

      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>メールアドレス</th>
      				<th>hoge@gmail.com</th>
      			</tr>

      			<tr>
      			<!-- 余白 -->
      				<th>
      					<h1>   </h1>
      				</th>
      			</tr>

      			<tr>
      				<th>
      					<%= link_to "編集する", class: "btn btn-primary" %>
      				</th>

      				<th>
      					<%= link_to "注文履歴一覧に戻る", class: "btn btn-primary col-md-offset-1"  %>
      				</th>
      			</tr>
      		</thead>

      	</table>
    </div>
    <!-- col-md-6 -->
  </div>
  <!-- row -->
</div>
<!-- container -->
