<h1>Admins::Members#index</h1>
<p>Find me in app/views/admins/members/index.html.erb</p>

<div class="container">
  
  <div class="row">
    
    <div class="col-md-6 col-md-offset-2">
      
      <h4>会員一覧</h4>

	</div>
    <!-- col-md-6 -->

    <div class="col-md-6 col-md-offset-2">

      <div>

      	<table class="table">
      		<!-- <caption>table title and/or explanatory text</caption> -->
      		<thead>
      			<tr class="active">
      				<th>会員ID</th>
      				<th>氏名</th>
      				<th>メールアドレス</th>
      				<th>ステータス</th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td>data</td>
      			</tr>
      		</tbody>
      	</table>

      </div>

    
  </div>
  <!-- row -->
</div>
<!-- container -->