<h1>Admins::Members#show</h1>
<p>Find me in app/views/admins/members/show.html.erb</p>

<div class="container">
  
  <div class="row">
    
    <div class="col-md-6 col-md-offset-3">
      
      <h2>〜さんの会員詳細</h2>

      <div>

      	<%= link_to "編集する" %>

      	<%= link_to "注文履歴一覧に戻る" %>

      </div>

    </div>
    <!-- col-md-6 -->
  </div>
  <!-- row -->
</div>
<!-- container -->
