<h1>Members::Homes#top</h1>
<p>Find me in app/views/members/homes/top.html.erb</p>


<div class="container">
	
	<div class="row">
		
		<div class="col-md-3">
			
		</div>

		<div class="col-md-9">
			<%= image_tag "asia.jpg", size: "700x300" %>

			<div>
				<h3>オススメ商品</h3>

				<%= image_tag "asia.jpg", size: "200x100" %>
		</div>
		</div>



	</div>
	<!-- row -->
</div>
<!-- container -->
