<div class=“container”>
  <div class=“row”>
    <div class=“col-md-6 col-md-offset-1”>
     <!-- rowの一行目として位置を設定している -->
      <h4>注文履歴一覧</h4>
    </div>
	</div>
    <!-- col-md-6 -->
    <div class="col-md-6 col-md-offset-2">
      <div>
      	<table class=“table”>
      		<!-- <caption>table title and/or explanatory text</caption> -->
      		<thead>
      			<tr class=“active”>
      				<th>購入日時</th>
      				<th>購入者</th>
      				<th>注文個数</th>
      				<th>注文ステータス</th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td>time</td>
      				<td>user</td>
      				<td>num</td>
      				<td>status</td>
      			</tr>
      		</tbody>
      	</table>
      </div>
  </div>
  <!-- row -->
</div>
<!-- container -->