
<div class="container">

	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<h5>管理者画面</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<h4>本日の注文件数</h4>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<h4>本日の注文件数  <%= @order %>件</h4>
		</div>
	</div>


</div>
